@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/ClientSide/_ClientLayout.cshtml";
}




<link href="~/theam/css/tiny-slider.css" rel="stylesheet" />

<div class="hero">
    <div class="hero-slide">
        <div class="img overlay" style="background-image: url('https://localhost:7084/theam/images/hero_bg_3.jpg')"></div>
        <div class="img overlay" style="background-image: url('https://localhost:7084/theam/images/hero_bg_2.jpg')"></div>
        <div class="img overlay" style="background-image: url('https://localhost:7084/theam/images/hero_bg_1.jpg')"></div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <h3 class="" data-aos="fade-up" style="color: white;">
                    Max Real Estate - Best Real Estate Agency in Dubai
                </h3>
                <p style="color: white;">Live and Work in the best city in the World-DUBAI</p>
                <form action="#" class="narrow-w form-search d-flex align-items-stretch mb-3" data-aos="fade-up"
                      data-aos-delay="200">
                    <input type="text" class="form-control px-4" placeholder="Your ZIP code or City. e.g. New York" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>Welcome to Max - Real Estate Company in Dubai</h3>
            </div>
            <div class="col-12 justify-content-between">
                <p class="wText">
                    Max Real Estate Dubai Proud franchisee of the most renowned Max Realtors,
                    servicing the UAE since 2022. Being among the prime real estate companies in Dubai,
                    we deal in a wide portfolio of properties for sale and rent.
                    <br>
                    <br>
                    Planning to purchase real estate in Dubai? Then your trusted companion for all dealings is Max Real Estate.
                    Go through our selection of superfluous apartments, villas, offices, and warehouses.
                    Whatever your budget is and whatever you choose, there's something here for your satisfaction.
                    <br>
                    <br>
                    Whether you are looking for apartments for rent in Dubai, our wide range has something for everyone.
                    Whether you prefer a cozy apartment or a spacious flat, we'll help you find the perfect rent.
                    Similarly, if your choice is to rent flats in Dubai, we will give you options that will match your lifestyle and requirements.
                    <br>
                    <br>
                    At Max Real Estate, we work closely with the best developers in Dubai: Emaar, Damac, Nakheel, Wasl, Danube, Azizi,
                    MAG, Deyaar, and Sobha. By way of these valued partnerships, we offer a great choice of off-plan and ready-to-move properties for purchase..
                    <br>
                    <br>
                    Our dedicated team is committed to assisting you in finding that ideal property to suit your needs and goals.
                    We are committed to exemplary service for individual and corporate clients. In addition, with professional property management solutions,
                    we help property owners enjoy the ease of managing and optimizing the value of their assets.
                    <br>
                    <br>
                    Unlock the finest real estate opportunities in Dubai with Max.
                    Browse through our curated listings and let us be your guide to securing the perfect property. Reach out today to begin your journey.
                    <br>
                    <br>
                    For Properties in Dubai visit maxrealestate.com
                    <br>
                    <br>
                    Similarly, for Properties in Dubai and all the Emirates visit MaxRealEstate.com
                </p>
                <div class="text-center">
                    <button class="btn btn-primary py-2 px-3">
                        List Your Property with Max Real
                        Estate
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h4 class="text-center mb-3" data-aos="fade-up">
                    Property Seekers
                </h4>
                <img src="https://hmconstructions.com/wp-content/uploads/2024/03/Navigating-Bengalurus-real-estate-jpg.webp"
                     style="width: 100%;" />
                <p class="justify-content-between mt-3" style="font-size: 18px; font-family: system-ui">
                    Browse through a wide variety of properties in Dubai that suit both residential and commercial purposes.
                    Our sales representatives are waiting for you; book an appointment today to visit your dream property and begin your journey with us.
                </p>
            </div>
            <div class="col-md-6">
                <h4 class="text-center mb-3" data-aos="fade-up">
                    Property Management
                </h4>
                <img src="https://www.igms.com/content/images/size/w2000/wordpress/2023/05/shutterstock_2285393485-scaled.jpg"
                     style="width: 100%; height: 67%;" />
                <p class="justify-content-between mt-3" style="font-size: 18px; font-family: system-ui">
                    We have a huge portfolio in Dubai, suiting your residential and commercial needs.
                    Please contact our experienced Sales Representatives and book an appointment to visit the ideal property.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-12 mt-2 text-center">
                <h4 data-aos="fade-up">
                    Latest Properties For Rent & Sale in Dubai
                </h4>
            </div>
            <!-- <div class="col-lg-6 text-lg-end">
              <p>
                <a href="#" target="_blank" class="btn btn-primary text-white py-3 px-4">View all properties</a>
              </p>
            </div> -->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="property-slider-wrap">
                    <div class="property-slider">
                        <div class="property-item">
                            <a href="property-single.html" class="img">
                                <img src="https://www.barnes-dubai.com/photos/414/min/a08Pg00000HK7m5IAD_R6II8427.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>AED 1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Duabi Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">Dubai, UAE</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">2 beds</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baths</span>
                                        </span>
                                    </div>

                                    <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="property-single.html" class="img">
                                <img src="https://www.trulia.com/pictures/thumbs_5/zillowstatic/fp/9359433dcba48c48b3d8ea72f021c7c8-full.webp" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>AED 1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 Duabi Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">Duabi, UAE</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">2 beds</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baths</span>
                                        </span>
                                    </div>

                                    <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="property-single.html" class="img">
                                <img src="https://media.onthemarket.com/properties/13718586/1458267493/image-0-1024x1024.webp" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 Duabi Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">Duabi, UAE</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">2 beds</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baths</span>
                                        </span>
                                    </div>

                                    <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->


                    </div>

                    <div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
                        <span class="prev" data-controls="prev" aria-controls="property" tabindex="-1">Prev</span>
                        <span class="next" data-controls="next" aria-controls="property" tabindex="-1">Next</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="col-12 text-center">
            <h4 data-aos="fade-up">Max - Best Real Estate Agency in Dubai</h4>
        </div>
        <div class="col-12 text-center">
            <img class="w-75 h-100" src="https://1.cdn.connectingtravel.com/dynamic-images/0-999/959/959_c=(0,2,1200,622)_w=940_h=488.webp?v=1c492915" />
        </div>
        <div class="col-12 justify-content-between mt-3">
            <p class="wText">
                Looking for a trusted partner in Dubai’s real estate market? Max Real Estate is your ultimate destination! Renowned for our expertise,
                we deliver customized solutions for every property journey. Whether you’re buying, selling, or renting, we make your vision a reality with unmatched professionalism.
                <br><br>
                Dubai's real estate market is a place of endless possibility, and we put your dream property within reach with our extensive listings.
                From opulent villas to sleek, modern apartments, we have an array of options to suit every lifestyle and budget.
                <br><br>

                Are you looking to rent a property in Dubai? Explore our diverse portfolio featuring apartments, flats, and office spaces.
                Be it spacious apartments or beautifully charming flats, we will have something to suit your style. Looking for the right office space?
                Let us help you grab the perfect spot in Dubai.
                <br><br>

                At Max Real Estate, our experienced professionals ensure a smooth journey. We’re committed to guiding
                you through the Dubai property market.
                <br><br>

                For apartments, flats, or properties for rent in Dubai, choose Max Real Estate. Let’s find your ideal
                property together.
                <br><br>

                Get in touch with Max Real Estate today and unlock endless property opportunities in Dubai.
                We're dedicated to surpassing your expectations and turning your real estate aspirations into reality.
                For all your property needs in Dubai, trust only Max Real Estate!
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h4 data-aos="fade-up">Featured Properties for Rent & Sale in Dubai</h4>
            </div>
            <div class="col-md-4">
                <div class="property-item">
                    <a href="property-single.html" class="img">
                        <img src="https://www.trulia.com/pictures/thumbs_5/zillowstatic/fp/9af6533dbd170b838e74f5fad2efa1a9-full.webp" alt="Image" class="img-fluid" />
                    </a>

                    <div class="property-content">
                        <div class="price mb-2"><span>AED 1,291,000</span></div>
                        <div>
                            <span class="d-block mb-2 text-black-50">5232 Duabi Fake, Ave. 21BC</span>
                            <span class="city d-block mb-3">Duabi, UAE</span>

                            <div class="specs d-flex mb-4">
                                <span class="d-block d-flex align-items-center me-3">
                                    <span class="icon-bed me-2"></span>
                                    <span class="caption">2 beds</span>
                                </span>
                                <span class="d-block d-flex align-items-center">
                                    <span class="icon-bath me-2"></span>
                                    <span class="caption">2 baths</span>
                                </span>
                            </div>

                            <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-item">
                    <a href="property-single.html" class="img">
                        <img src="https://www.trulia.com/pictures/thumbs_5/zillowstatic/fp/66a06aeb5cc265affbbcac4950bf6316-full.webp" alt="Image" class="img-fluid" />
                    </a>

                    <div class="property-content">
                        <div class="price mb-2"><span>AED 1,291,000</span></div>
                        <div>
                            <span class="d-block mb-2 text-black-50">5232 Califor Duabi Fake, Ave. 21BC</span>
                            <span class="city d-block mb-3">Dubai, UAE</span>

                            <div class="specs d-flex mb-4">
                                <span class="d-block d-flex align-items-center me-3">
                                    <span class="icon-bed me-2"></span>
                                    <span class="caption">2 beds</span>
                                </span>
                                <span class="d-block d-flex align-items-center">
                                    <span class="icon-bath me-2"></span>
                                    <span class="caption">2 baths</span>
                                </span>
                            </div>

                            <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 text-center">
                <button class="btn btn-primary py-2 px-3">VIEW MORE PROPERTY</button>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h4 data-aos="fade-up">Why Choose Max Real Estate for Your Dubai Property Needs?</h4>
            </div>
            <div class="col-12 justify-content-between mt-3">
                <p class="wText">
                    Navigating the vibrant real estate market of Dubai requires the right partner,
                    and that is where Max Real Estate excels. As one of the leading real estate agencies in Dubai,
                    we are here to offer all manner of services to best meet your specific property needs.
                    Here's why Max should be your go-to real estate partner in Dubai:
                    <br>
                    <br>
                    <b>Extensive Portfolio:</b> Explore a diverse portfolio of Dubai properties, including luxurious apartments,
                    flats,
                    offices, and more. Whether you’re looking for a property to rent or buy, our extensive listings cater to
                    various budgets and preferences.
                    <br>
                    <br>

                    <b>Local Expertise:</b> Benefit from our in-depth knowledge of the Dubai real estate market. As a leading
                    real
                    estate agency, we understand the nuances of different neighborhoods, ensuring that we guide you to
                    properties that align with your lifestyle and investment goals.
                    <br>
                    <br>

                    <b>Property Management Excellence:</b> Max excels in property management, providing a seamless
                    experience
                    for property owners and tenants alike. Our services cover everything from tenant screening to maintenance,
                    ensuring that your investment is well taken care of.
                    <br>
                    <br>

                    <b>Rental Solutions:</b> Looking for apartments, flats, or offices for rent in Dubai? Our portfolio includes
                    a wide
                    range of rental properties, each carefully vetted to meet our high standards. Find the perfect space that
                    suits your needs with Max.
                    <br>
                    <br>

                    <b>Transparent and Professional:</b> At Max, transparency and professionalism are at the core of our
                    values. Our experienced team of real estate professionals is dedicated to providing top-notch services,
                    ensuring that your real estate journey is smooth and successful.

                    <br>
                    <br>
                    <b>Customized Solutions:</b> Recognizing that each client is unique, we offer personalized solutions to
                    match your
                    specific requirements. Whether you’re a first-time buyer, an investor, or a tenant, our tailored approach
                    ensures that your experience with Max is exceptional.
                    <br>
                    <br>

                    <b>Dubai Property Experts:</b> As real estate experts in Dubai, we stay abreast of market trends, ensuring
                    that our
                    clients receive up-to-date insights and advice. Our expertise extends to different property types, including
                    apartments, flats, offices, and more.
                    <br>
                    <br>

                    <b>Comprehensive Services:</b> From helping you find the perfect apartment for rent in Dubai to assisting
                    with
                    property sales and investments, Max Real Estate provides end-to-end services. Trust us to be your
                    partner in every step of your real estate journey.
                    <br>
                    <br>

                    Make the smart choice for your Dubai property needs. Contact Max Real Estate today, and let us guide
                    you to your dream property in the vibrant city of Dubai. Your real estate aspirations are our priority.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="co-12 text-center mb-3">
                <h4 data-aos="fade-up">Trending Blogs</h4>
            </div>
            <div class="col-md-4">
                <div class="property-item">
                    <a href="property-single.html" class="img">
                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/11/dubai-6-e1734217575659.jpg"
                             style="height: 413px;" alt="Image" class="img-fluid" />
                    </a>
                    <div class="property-content">
                        <div>
                            <span class="city d-block mb-3">Exploring Dubai’s Most Affordable Residential Areas</span>
                            <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-item">
                    <a href="property-single.html" class="img">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
                    </a>
                    <div class="property-content">
                        <div>
                            <span class="city d-block mb-3">How to Budget for a Property Investment in Dubai</span>
                            <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-item">
                    <a href="property-single.html" class="img">
                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/11/dubai-skyline-1024x576.avif"
                             style="height: 413px;" alt="Image" class="img-fluid" />
                    </a>
                    <div class="property-content">
                        <div>
                            <span class="city d-block mb-3">Exploring Dubai’s Luxury Real Estate Market</span>
                            <a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/theam/js/tiny-slider.js"></script>