@{
    ViewData["Title"] = "ListProperty";
    Layout = "~/Views/ClientSide/_ClientLayout.cshtml";
}


<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Property List</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">
                            Property List
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>Sell or Rent Out Your Property with Max Real Estate</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 justify-content-between mt-3">
                <h5 data-aos="fade-up">Why Choose Max Real Estate for Listing Your Property?</h5>
                <ol>
                    <li>
                        <b>Market Expertise:</b> Our team of real estate professionals possesses deep knowledge of the Dubai property market.
                        We use this insight to strategically position your property and attract the ideal buyers or tenants.
                    </li>
                    <li>
                        <b>Comprehensive Marketing:</b> We take a multi-channel approach to marketing, ensuring your property is seen by a broad audience.
                        From online listings to targeted advertising, we maximize its visibility.
                    </li>
                    <li>
                        <b>Optimized Pricing:</b> With our deep understanding of the Dubai market, we help set the right price for your property, ensuring
                        it appeals to the right buyers or tenants.
                    </li>
                    <li>
                        <b>Legal Guidance:</b> We provide expert legal guidance throughout the process, ensuring all aspects of the transaction are handled
                        professionally and in accordance with local regulations.
                    </li>
                    <li>
                        <b>Client-Centric Approach:</b> We are dedicated to meeting the unique needs of each client, tailoring our services to ensure the
                        best possible experience when buying, selling, or renting property in Dubai.
                    </li>
                </ol>
            </div>
            <div class="col-md-6 mt-3">
                <h5 data-aos="fade-up">List Your Property With Max</h5>
                <form>
                    <input class="form-control p-3 mt-4" placeholder="Name" />
                    <input class="form-control p-3 mt-4" placeholder="Email Id" />
                    <input class="form-control p-3 mt-4" placeholder="Mobile No" />
                    <div class="mt-4">
                        <label>Select </label>
                        <select id="purpose" class="form-select p-3">
                            <option>I Want to Sell</option>
                            <option>I Want to Rent( Sort Term )</option>
                            <option>I Want to Rent( Long Term )</option>
                        </select>
                    </div>
                    <div class="mt-4">
                        <label>Select </label>
                        <select id="purpose" class="form-select p-3">
                            <option>Villa</option>
                            <option>Town House</option>
                            <option>Office</option>
                            <option>Retail</option>
                            <option>Building</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="divider-with-icon mb-3">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- More about Apartments in Dubai -</h3>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>

                    <!-- Carousel Items -->
                    <div class="carousel-inner">
                        <!-- First Slide -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAFE-DEVELOPER-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 1">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAMANA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 2">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 3">
                                </div>
                            </div>
                        </div>
                        <!-- Second Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AQUA-%E2%80%93-O-TEN-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 4">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AZIZI-%E2%80%93-MINA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 5">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/BELHASA-%E2%80%93-BURJ-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 6">
                                </div>
                            </div>
                        </div>
                        <!-- Third Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/1234-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 7">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/WASL-1-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 8">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 9">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Previous Control -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <!-- Next Control -->
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    Are you in the market for a brand new apartment to buy or rent in Dubai?
                    Your search ends here! We offer a diverse range of new apartments for sale and rent, from one-bedroom to four-bedroom units,
                    all ready to meet your needs..
                    <br>
                    <br>
                    Each of our brand new apartments is centrally located in Dubai, offering the ideal place to call home.
                    With convenient access to public transportation, shopping, dining, and entertainment, everything you need is within reach.
                    Don’t wait—explore our selection of new apartments for sale and rent in Dubai today and find your perfect home!
                    <br>
                    <br>
                    There is a wide variety of brand new apartments for sale and rent in Dubai. Whether you’re seeking a luxurious,
                    fully-equipped apartment or a more budget-friendly option, we have something that suits your needs..

                    If you're considering purchasing a brand new apartment in Dubai, there are a few things to consider. First, it’s crucial to
                    establish a realistic budget. Luxury apartments can be costly, so knowing your budget upfront will help guide your search
                    and ensure you find the right fit.
                </span>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- Apartments in Dubai -</h3>
            </div>

            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    When searching for an apartment in Dubai, location is key.
                    As a sprawling city, it’s important to choose a place that’s close to the attractions you want to enjoy.
                    Additionally, consider the amenities offered in the apartment—some include features like a swimming pool,
                    gym, concierge service, and more, enhancing your living experience.
                    <br>
                    <br>
                    Choose an apartment that offers the amenities you need and desire.
                    If you're looking to buy or rent an apartment in Dubai, start your search with Max Real Estate and Property Management.
                    Our platform allows you to compare prices, amenities, locations, and more,
                    helping you make an informed decision before finalizing your choice.
                    <br>
                    <br>
                    Explore luxury real estate in Dubai by browsing our exclusive listings and connecting with an agent today.
                    Unlock your dream home in Dubai with Max Property Solutions, tailored to meet your specific needs.
                    Available Properties are listed on http://maxre.ae
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- Lifestyle in Dubai -</h3>
            </div>

            <div class="col-md-6">
                <span class="d-block mb-2 text-black-50">
                    Living in Dubai is truly a one-of-a-kind experience.
                    This vibrant city offers something for everyone, from the dynamic energy of downtown to the peaceful,
                    laid-back charm of the suburban areas.

                    Dubai offers endless activities, whether you’re shopping at its world-class malls,
                    experiencing the vibrant nightlife, or simply soaking in the sights and sounds of this extraordinary city.
                    <br>

                    If you’re seeking a fast-paced, exciting lifestyle, Dubai is the ideal destination.
                    The city boasts world-class shopping, a diverse range of restaurants, bars, and nightclubs,
                    and there’s always something new to discover. Dubai is the perfect place to call home if you crave an adventurous,
                    thrilling lifestyle.
                    <br>

                    If you prefer a more relaxed lifestyle, Dubai has plenty to offer as well. The city features numerous parks and green spaces,
                    along with peaceful residential areas where you can unwind away from the hustle of downtown.
                    Dubai is also home to a wealth of cultural attractions, including museums, art galleries, and historical landmarks.

                    Whatever your preferences may be, Dubai has a lifestyle that’s perfect for you.
                    Whether you seek excitement or tranquility, this dynamic city offers something for everyone.
                </span>
            </div>
            <div class="col-md-6">
                <video class="w-100" controls>
                    <source src="#"
                            type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="divider-with-icon mb-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- All about Buying an Apartment in Dubai -</h3>
            </div>

            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    Buying an apartment in Dubai is simpler than it may seem.
                    There are a few essential steps to follow for a smooth and successful transaction.
                    The first step is to find a reliable real estate agent with experience in Dubai's apartment market.
                    <br>

                    Working with an agent who has a strong understanding of the market is crucial.
                    They can help you find properties that align with your budget and preferences.
                    Once you’ve shortlisted potential apartments, the next step is to schedule a viewing.
                    This will allow you to visit the properties in person and determine which one suits you best.
                    <br>

                    Once you've found the perfect apartment, the next step is to start negotiations with the seller.
                    Having a skilled real estate agent by your side is invaluable during this process.
                    They can guide you on a fair price for the property and assist in reaching a mutually beneficial agreement with the seller.

                    The final step is to have the purchase contract drafted and signed.
                    Once completed, you’ll officially become the owner of your new apartment in Dubai!
                    <br>
                    <br>
                    Max Real Estate – Property Management having brand new specious Apartments for sale and
                    luxurious Apartments for rent in Dubai.
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <!-- col-md-4 containing 3 rows -->
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>EMAAR – CREEKSIDE 18</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>EMAAR – CREEKSIDE 18</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>EMAAR – CREEKSIDE 18</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-with-icon mt-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>
