@{
    ViewData["Title"] = "PropertyM";
    Layout = "~/Views/ClientSide/_ClientLayout.cshtml";
}


<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Property Management</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">
                            Property Management
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 justify-content-between">
                <span class="d-block mb-2 text-black-50">
                    At SilverKeys, we understand that property management is a complex task that
                    requires the expertise of dedicated and experienced professionals. We recognize that your
                    property is not just an asset but a valuable source of wealth generation. That’s why we are
                    committed to managing your property efficiently to ensure that your returns continue to grow
                    over time, while preserving and enhancing its value.
                    <br>
                    <br>
                    Our approach to property management is built on a foundation of professionalism, strong systems,
                    streamlined processes, and unwavering ethics. We employ a high-level process map that guides us
                    in effectively managing properties as if they were our own. This ensures that every aspect of
                    property management, from tenant selection and lease agreements to maintenance and financial
                    management, is handled with meticulous attention to detail.
                    <br>
                    <br>
                    With SilverKeys, you can trust that your property is in capable hands. We strive to deliver
                    exceptional management services that maximize your returns, protect your investment, and provide
                    you with peace of mind. Experience the difference of professional property management with
                    SilverKeys.
                    <br>
                    <br>
                    Below is a high-level process map we use to manage the property.
                </span>
                <img src="https://www.silverkeys.ae/wp-content/uploads/2022/01/Untitled-1-1.jpg" class="w-100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3 data-aos="fade-up">Required Documents for Taking over the property</h3>
                <div class="row">
                    <div class="col-md-6">
                        <span class="d-block mb-2 text-black-50">
                            – Title Deed / Affection Plan
                            <br>
                            – Floor Plan
                            <br>
                            – Photo Gallery
                            <br>
                            – Keys & Access Cards
                            <br>
                            – Parking Details
                            <br>
                            – Owners IDs
                            <br>
                            – Original POAs
                            <br>
                            – Owners Full contact Details
                        </span>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block mb-2 text-black-50">
                            – Warranty Manuals
                            <br>
                            – Service Agreements and contacts
                            <br>
                            – Civil Defense and Municipality reports
                            <br>
                            – Insurance Policy
                            <br>
                            – Community Rules
                            <br>
                            – Utility Bills
                            <br>
                            – Annual Service Charges
                            <br>
                            – NOC from developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h3 data-aos="fade-up">If the property has tenants already</h3>
                <div class="row">
                    <div class="col-md-6">
                        <span class="d-block mb-2 text-black-50">
                            – Tenant file
                            <br>
                            – Tenancy Contracts, etc
                            <br>
                            – Rent Ledgers per tenant
                            <br>
                            – Pending cheques
                            <br>
                            – Security Deposits
                            <br>
                            – Property Inspection (use improvement appointments with the tenant when needed)
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div class="divider-with-icon mb-3">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="containerfluid">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center mb-5">
                <h3 data-aos="fade-up">Property Management Process</h3>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6">
                <img class="w-100"
                     src="https://thumbs.dreamstime.com/b/money-saving-car-insurance-financial-vehicle-repair-maintenance-concepts-coins-stack-piggy-bank-auto-model-counting-323712326.jpg" />
            </div>
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Property Management Process</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        Property Value simply can be determined by current Rental income and Rental income trend
                        less
                        costs multiplied by 10-20 times depending on what the average ROI is prevalent in the
                        market.
                        <br>
                        Rent is mainly driven by the market trend and should be reviewed at regular intervals. The
                        rent
                        is also determined by the additional facilities offered in the building like swimming pool,
                        Gym,
                        maintenance coverage, number of parking, etc.
                        <br>
                        Costs mainly include Utilities, maintenance, security, etc.
                        <br>
                        Silver Keys helps with financial modeling and helps maximize the property value and returns
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Marketing, Advertising and leads conversion</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        Includes strategies that will help attract more tenants and retain current tenants. Need to
                        understand the target customers and promote to them the product at the right price.
                        <br>
                        This will include but not limited to having visibility (google maps for eg.), the
                        satisfaction of the current tenants, goodwill of the real estate, Staging of the property,
                        Proper advertisements, relevant boards at the site, etc
                        <br>
                        Making sure competent agents are reachable for inquiries this is a starting point to
                        identify the lead which eventually leads to conversion
                        <br>
                        Silver Keys strategies are on the lines of minimum vacant properties
                    </span>
                </div>
            </div>
            <div class="col-md-6" style="margin-left:-1.5%">
                <img class="w-100"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgg7ZzTlWHM7E8P61WbYvhC0YxKVRN59BHEA&s" />
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6" style="margin-top: -1.2%;">
                <img class="w-100"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbiYHytUJ7XVaQr1yfeViuggXvw5lH_fJZ8A&s" />
            </div>
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Tenant profiling and move in</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        Profiling and screening the tenant is important to make sure that the customer is long term,
                        does not default in payments, etc. Checking his past profile from RDC, his employment
                        status, financial capability, etc
                        <br>
                        The process starts with explaining the T&Cs, getting the payments, putting the relevant docs
                        in place, and making sure that the condition of the property is good for the tenant to move.
                        <br>
                        Silver Keys would like to avoid disputes with tenants be it rental or maintenance hence
                        profiling remains key to tenant acceptance process
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6 p-5" style="margin-left: -1.5%">
                <h3 data-aos="fade-up">Payment default Management</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        A proper lead conversion, tenant profiling, and move-in process will have a smooth rent
                        collection outcome.
                        <br>
                        Payment defaults need to manage by follow up, understanding the tenant situation, legal
                        action waivers from the landlord
                        <br>
                        Silver Keys has an inhouse legal team to manage payment defaults
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="w-100"
                     src="https://freelancecorner.co.uk/wp-content/uploads/2019/07/house-side-hustle-600x400.jpg" />
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6">
                <img class="w-100"
                     src="https://archetivepropertym.com/wp-content/uploads/2018/12/header-image.jpg" />
            </div>
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Maintenance</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        A robust process needs to be in place to ensure that it’s easy for tenants to report issues
                        and response time and resolution process is satisfactory. Maintenance logbooks need to be
                        maintained, etc
                        <br>
                        Silver Keys has an in-house maintenance team to attend quickly to customer needs
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Tenant Renewal / Move out Proces</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        The renewal notification needs to go to the tenant 3 months before the contract expiry. Rent
                        changes, negotiations, etc and a mini move in the process needs to take place.
                        <br>
                        Move out process will need utility clearance, handing over the keys, etc, apartment check,
                        and refundable security clearance depending on the apartment condition.
                        <br>
                        Silver Keys tries its best to retain tenants and has a solid mechanism for move out /
                        renewal process
                    </span>
                </div>
            </div>
            <div class="col-md-6" style="margin-left: -1.5%">
                <img class="w-100"
                     src="https://myschoolscholarship.com.ng/wp-content/uploads/2024/08/commercial-lease-agreement-img_1.jpg" />
            </div>
        </div>
    </div>
    <div class="divider-with-icon mb-5 mt-5">
        <span class="line"></span>
        <i class="fas fa-star"></i>
        <span class="line"></span>
    </div>
</div>