@{
    ViewData["Title"] = "PropertyM";
    Layout = "~/Views/ClientSide/_ClientLayout.cshtml";
}


<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Property Management</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">
                            Property Management
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 justify-content-between">
                <span class="d-block mb-2 text-black-50">
                    At Max, we understand that property management is a multifaceted
                    responsibility requiring the expertise of skilled professionals. Your property is more than just an asset—it’s
                    a critical source of wealth creation. That’s why we are dedicated to managing it with precision, ensuring consistent
                    growth in your returns while safeguarding and enhancing its value over time.
                    <br>
                    <br>
                    Our property management approach is rooted in professionalism, robust systems, efficient processes,
                    and unwavering ethics. We follow a comprehensive process map that enables us to manage properties
                    with the same care and precision as if they were our own. From tenant selection and lease agreements
                    to maintenance and financial management, every detail is handled with meticulous attention and expertise.
                    <br>
                    <br>
                    With Max, your property is in trusted, capable hands. We are dedicated to providing exceptional management
                    services that optimize your returns, safeguard your investment, and give you peace of mind. Discover the
                    difference that professional property management with Max can make.
                    <br>
                    <br>
                    Below is a high-level process map we use to manage the property.
                </span>
                <img src="https://www.silverkeys.ae/wp-content/uploads/2022/01/Untitled-1-1.jpg" class="w-100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3 data-aos="fade-up">Required Documents for Taking over the property</h3>
                <div class="row">
                    <div class="col-md-6">
                        <span class="d-block mb-2 text-black-50">
                            – Title Deed / Affection Plan
                            <br>
                            – Floor Plan
                            <br>
                            – Photo Gallery
                            <br>
                            – Keys and Access Cards
                            <br>
                            – Parking Details
                            <br>
                            – Owner Identification Documents
                            <br>
                            – Original Powers of Attorney (POAs)
                            <br>
                            – Complete Owner Contact Information
                        </span>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block mb-2 text-black-50">

                            – Warranty Manuals
                            <br>
                            – Service Agreements and Contact Details
                            <br>
                            – Civil Defense and Municipality Reports
                            <br>
                            – Insurance Policy
                            <br>
                            – Community Rules
                            <br>
                            – Utility Bills
                            <br>
                            – Annual Service Charges
                            <br>
                            – NOC from Developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h3 data-aos="fade-up">If the property has tenants already</h3>
                <div class="row">
                    <div class="col-md-6">
                        <span class="d-block mb-2 text-black-50">
                            – Tenant File
                            <br>
                            – Tenancy Contracts
                            <br>
                            – Rent Ledgers for Each Tenant
                            <br>
                            – Pending Cheques
                            <br>
                            – Security Deposits
                            <br>
                            – Property Inspection (including improvement appointments with tenants as needed)
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div class="divider-with-icon mb-3">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="containerfluid">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center mb-5">
                <h3 data-aos="fade-up">Property Management Process</h3>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6">
                <img class="w-100"
                     src="https://thumbs.dreamstime.com/b/money-saving-car-insurance-financial-vehicle-repair-maintenance-concepts-coins-stack-piggy-bank-auto-model-counting-323712326.jpg" />
            </div>
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Property Management Process</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        Property value is determined by the current rental income and rental income trends, less costs,
                        multiplied by 10–20 times, based on the prevailing average ROI in the market.
                        <br>
                        Rent is primarily influenced by market trends and should be reviewed regularly. Additional
                        facilities such as a swimming pool, gym, maintenance coverage, and parking availability also
                        play a significant role in determining rent.
                        <br>
                        Costs typically include utilities, maintenance, security, and related expenses.
                        <br>
                        Max provides expert financial modeling to help maximize property value and returns.
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Marketing, Advertising and leads conversion</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        Includes strategies to attract new tenants and retain existing ones by understanding
                        target customers and offering the right product at the right price.
                        <br>
                        This involves ensuring visibility (e.g., Google Maps), maintaining tenant satisfaction,
                        leveraging the goodwill of the real estate, staging the property effectively, creating
                        proper advertisements, and placing relevant boards at the site.
                        <br>
                        Ensures competent agents are accessible for inquiries, serving as the starting point
                        for identifying leads and driving conversions.
                        <br>
                        Max employs strategies focused on minimizing vacant properties.
                    </span>
                </div>
            </div>
            <div class="col-md-6" style="margin-left:-1.5%">
                <img class="w-100"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgg7ZzTlWHM7E8P61WbYvhC0YxKVRN59BHEA&s" />
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6" style="margin-top: -1.2%;">
                <img class="w-100"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbiYHytUJ7XVaQr1yfeViuggXvw5lH_fJZ8A&s" />
            </div>
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Tenant profiling and move in</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        Profiling and screening tenants is crucial to ensure long-term tenancy and minimize payment defaults.
                        This includes reviewing their past rental history through RDC, verifying employment status, assessing
                        financial capability, and more.
                        <br>
                        The process begins with explaining the terms and conditions, securing payments, organizing the necessary
                        documentation, and ensuring the property is in good condition for the tenant to move in.
                        <br>
                        Max aims to prevent disputes with tenants, whether related to rent or maintenance,
                        which is why thorough profiling is a key part of the tenant acceptance process.
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6 p-5" style="margin-left: -1.5%">
                <h3 data-aos="fade-up">Payment default Management</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        A well-executed lead conversion, tenant profiling, and move-in process ensures
                        a smooth rent collection outcome.
                        <br>
                        Payment defaults should be managed through follow-ups, understanding the tenant's
                        situation, and coordinating with the landlord on possible legal action or waivers.
                        <br>
                        Max has an in-house legal team dedicated to managing payment defaults.
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="w-100"
                     src="https://freelancecorner.co.uk/wp-content/uploads/2019/07/house-side-hustle-600x400.jpg" />
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6">
                <img class="w-100"
                     src="https://archetivepropertym.com/wp-content/uploads/2018/12/header-image.jpg" />
            </div>
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Maintenance</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        A strong process should be in place to make it easy for tenants to report issues,
                        with prompt response times and satisfactory resolution. Maintenance logbooks must
                        be properly maintained, among other key practices.
                        <br>
                        Max has an in-house maintenance team that responds promptly to customer needs.
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgb(224, 224, 224);">
            <div class="col-md-6 p-5">
                <h3 data-aos="fade-up">Tenant Renewal / Move out Proces</h3>
                <div>
                    <span class="d-block mb-2 text-black-50">
                        Renewal notifications should be sent to the tenant 3 months before the contract expires.
                        This includes addressing rent changes, negotiations, and implementing a mini move-in process as needed.
                        <br>
                        The move-out process includes utility clearance, key handover, an apartment inspection,
                        and refundable security deposit clearance based on the apartment's condition.
                        <br>
                        Max strives to retain tenants and has a strong mechanism in place for both move-out and renewal processes.
                    </span>
                </div>
            </div>
            <div class="col-md-6" style="margin-left: -1.5%">
                <img class="w-100"
                     src="https://www.process.st/templates/wp-content/uploads/2024/02/nW2CtZtdCXl04QK6-HdIUg.png" />
            </div>
        </div>
    </div>
    <div class="divider-with-icon mb-5 mt-5">
        <span class="line"></span>
        <i class="fas fa-star"></i>
        <span class="line"></span>
    </div>
</div>