@{
    ViewData["Title"] = "VillaSaleRent";
    Layout = "~/Views/ClientSide/_ClientLayout.cshtml";
}

<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Villa</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">
                            Villa
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>Brand New Villas For Sale and Rent in Dubai</h3>
            </div>
            <div class="col-12 justify-content-between">
                <span class="d-block mb-2 text-black-50">
                    Looking to purchase a brand new freehold villa in Dubai? Silver Keys Real Estate
                    covers the entire United Arab Emirates and specializes in the dynamic real estate market of
                    Dubai. Our team can assist you in locating and buying the perfect villa that suits your needs.
                    <br>
                    <br>
                    Whether you’re considering a move to Dubai, looking for a holiday home, or seeking an investment
                    opportunity, our Dubai villa specialists are here to guide you. We can help you create and
                    expand your investment portfolio with our in-depth knowledge of the Dubai real estate market.
                    <br>
                    <br>
                    As channel partners for reputed developers in Dubai, including Emaar, Damac, Nakheel, Wasl,
                    Danube, Azizi, MAG, Deyaar, Sobha, and more, we have access to a wide range of off-plan and
                    ready properties for purchase throughout Dubai. This provides you with ample options to choose
                    from and make an informed decision.
                    <br>
                    <br>
                    Take advantage of the thriving real estate market in Dubai and let Silver Keys Real Estate
                    assist you in finding and acquiring your dream villa. Experience our professional and
                    customer-focused aapproach to real estate, ensuring a seamless and successful villa buying
                    experience in Dubai.
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-3">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- More about Villas in Dubai -</h3>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>

                    <!-- Carousel Items -->
                    <div class="carousel-inner">
                        <!-- First Slide -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAFE-DEVELOPER-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 1">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAMANA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 2">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 3">
                                </div>
                            </div>
                        </div>
                        <!-- Second Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AQUA-%E2%80%93-O-TEN-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 4">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AZIZI-%E2%80%93-MINA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 5">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/BELHASA-%E2%80%93-BURJ-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 6">
                                </div>
                            </div>
                        </div>
                        <!-- Third Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/1234-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 7">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/WASL-1-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 8">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 9">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Previous Control -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <!-- Next Control -->
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    Dubai is a city located in the United Arab Emirates. The city is known for its
                    luxury lifestyle and beautiful architecture. Many people who visit Dubai choose to rent a Villa
                    instead of staying in a hotel. Villas for rent and sale in Dubai can be found in many different
                    areas of the city. The most popular areas for Villas are Jumeirah Beach, Palm Jumeirah, and
                    Downtown Dubai.
                    <br>
                    <br>
                    Villas are also usually much larger than hotel rooms, so they are perfect for families or groups
                    of friends traveling together. Villas for rent and sale in Dubai offer many amenities that you
                    would not find in a hotel room. Most Villas have their own private pool, maid and driver rooms,
                    Backyard and Barbeque area.
                    <br>
                    <br>
                    If you are interested in Renting a Villa in Dubai or Villas for Sale and Rent in Dubai. Explore
                    UAE Real Estate Properties to Buy, Sell or Rent. Available Properties are listed on
                    SilverKeys.ae
                    Villas for rent and sale in Dubai offer a unique and luxurious lifestyle that is perfect for
                    those who want to experience the best of what the city has to offer.
                    There are many different types of villas available for rent, from small 2 Bed Villa to large and
                    luxurious mansions. No matter what your budget or preferences are, there is sure to be a villa
                    that is perfect for you. One of the great things about villas for sale and rent in Dubai and
                    renting a villa in Dubai is that you have complete control over your living environment.
                </span>
            </div>
        </div>
    </div>
</div>




<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- Types of Villa in Dubai -</h3>
            </div>

            <div class="col-md-6">
                <span class="d-block mb-2 text-black-50">
                    Villas in Dubai come in all shapes and sizes, from ultra-luxurious penthouses to
                    more modest townhouses. There is something to suit every taste and budget.
                    Dubai is renowned for its luxury villas, which offer unrivalled levels of comfort, space and
                    privacy.
                    <br>

                    There is a range of villas in Dubai suitable to the requirements of singles, couples and
                    families alike. Those looking to experience beach living can find many options closer to
                    Jumeirah Public Beach. Rental trends for these properties would be comparatively higher.

                    Next, there are several new projects in the emirate and villa-only communities where you find
                    homogenous clusters of living spaces like Arabian Ranches 3 .
                    <br>

                    There are many different types of villas in Dubai, each with their own unique features and
                    amenities. Here is a look at some of the most popular types of villas in Dubai:

                    1. Beachfront Villas: As the name suggests, these villas are located on the beachfront, offering
                    stunning views of the Arabian Sea. Beachfront villas come in all shapes and sizes, from small
                    one-bedroom units to large multi-story mansions.

                    Golf Course Villas: Dubai is home to some of the best golf courses in the world.
                </span>
            </div>
            <div class="col-md-6">
                <video class="w-100" controls>
                    <source src="https://www.silverkeys.ae/wp-content/uploads/2023/01/Untitled-design-11.mp4"
                            type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    so it’s no surprise that there are plenty of villas located on or near golf courses. Golf course
                    villas offer scenic views and access to world-class golfing facilities.
                    <br>
                    3. Desert Villas: For those who want to get away from the hustle and bustle of the city, desert
                    villas are the perfect option. These secluded properties are typically located in residential
                    gated communities with their own private pools and gardens.
                    <br>
                    4. Skyline Villas: If you’re looking for incredible views, then skyline villas are for you.
                    These properties are usually located on high floors of skyscrapers or on top of hills, offering
                    panoramic views of the cityscape below.
                    <br>
                    5. Waterfront Villas: As the name suggests, these villas are located on the waterfront, offering
                    stunning views of Dubai’s waterways.
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row">
            <!-- col-md-4 containing 3 rows -->
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>DAMAC Lagoons</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located between Sheikh Mohamed Bin Zayed Road and Emirates Road close to Dubai Sports City.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>Nakheel – Jebel Ali Village</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>Burooj Townhouses</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-with-icon mt-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>