# Ignore Visual Studio & .NET build files
bin/
obj/
*.suo
*.user
*.rsuser
*.vsp
*.vspscc
.vscode/
.vs/
*.pdb
*.ilk
*.cache
*.log

# Ignore environment settings
.env
*.config.user

# Ignore application secrets
secrets.json
appsettings.json
appsettings.Development.json
scaffolding.txt

# Ignore compiled DLLs & packages
*.dll
*.exe
*.o
*.a
*.lib
*.so
*.dylib
*.nupkg
*.snupkg
*.psd1
*.psm1

# Ignore NuGet packages
*.nupkg
packages/
project.lock.json
*.nuget.props
*.nuget.targets

# Ignore Rider & JetBrains files
.idea/
*.sln.iml

# Ignore Entity Framework migrations (if using local migrations)
Migrations/

# Ignore log files
*.log
logs/
log.txt
